// FONTS
$gilroyExtraBold: 'gilroyextrabold', sans-serif;
$gilroyLight: 'gilroylight', sans-serif;
$montserratExtraBold: 'montserratextrabold', sans-serif;

// COLORS
$color1: #240e57;
$color2: #a09da6;
$color3: #f6f3fb;
$color4: #ffdd13;
$color5: #ee9faf;
$white: #ffffff;
$black: #2e2a36;
$success: #1dbb59;
$error: #f52e2e;